<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    
    <form action="register" method="post">
        {% csrf_token%}

        <input type="text" name="first_name" placeholder="FIRST NAME"><br>
        <input type="text" name="last_name" placeholder="LAST NAME"><br>
        <input type="text" name="username" placeholder="USER NAME"><br>
        <input type="email" name="email" placeholder="EMAIL"><br>
        <input type="password" name="password1" placeholder="PASSWORD"><br>
        <input type="password" name="password2" placeholder="CONFIRM PASSWORD"><br>
        <input type="Submit">

    </form>

    <div>
        {% for message in messages %}
        <h4> {{message}} </h4>
        {% endfor %}

    </div>



</body>
</html>